*.nds filter=lfs diff=lfs merge=lfs -text
Pokemon[[:space:]]Black[[:space:]]Randomized[[:space:]]1.nds filter=lfs diff=lfs merge=lfs -text
C:/Users/User/Downloads/Pokemon[[:space:]]Black[[:space:]]Randomized/Pokemon[[:space:]]Black[[:space:]]Randomized.nds filter=lfs diff=lfs merge=lfs -text
